<% if (@user == nil) %>
	<% content_for :title, "Invalid User ID" %>
	<div class="gallery">
		<span><%= link_to "< Users", "/users/index" %></span>

		<br />
		<div class="info">
			<p><%= "User with ID #{params[:id]} does not exist!" %></p>
		</div>
	</div>
<% else %>
	<% content_for :title, "Photo Gallery of #{@user.first_name} #{@user.last_name}" %>

	<div class="gallery">
		<span><%= link_to "< Users", "/users/index" %></span>

		<% if @user.id.eql? session[:user_id] %>
			<span class="btn red-btn"><%= link_to "New Photo!", "/photos/new" %></span>
		<% end %>

		<% flash.each do |name, msg| -%>
	    	<%= content_tag :div, msg, class: name %>
	    	<br />
		<% end %>

		<div class="info">
			<p><%= "Photo Gallery of #{@user.first_name} #{@user.last_name}" %></p>
		</div>

		<% if @photos.empty? %>
			<div class="gallery-elem">No photos found for this user.</div>
		<% else %>
			<% @photos.each do |p| %>

				<div class="gallery-elem">
					<div class="pic">
					<!--	<%= image_tag "/images/#{p.file_name}" %>-->




					<% if !session["user_id"].nil?  %> 
						<div  id= "tag" class="link">
							<%  $form_div = "tag_form" + p.id.to_s
								$image_div= "image" + p.id.to_s
								$tag_div  = "tag_rect" + p.id.to_s
								$x = "left_x"+ p.id.to_s 
								$y = "top_y"+ p.id.to_s 
								$w = "width"+ p.id.to_s 
								$h = "height"+ p.id.to_s 
							%> 

							<a div onclick=" startTags('<%= $form_div %>', '<%= $image_div %>', '<%= $tag_div %>', '<%= $x %>', '<%= $y %>', '<%= $w %>', '<%= $h %>');" href="<%= '#image' + p.id.to_s %>">Tag Photo</a>
						</div><!--tag-->
						
					<% end %>

					<div class="col1">

						<%= render :partial => "tag_form", :locals => {:id=> "tag_form" + p.id.to_s, :action => :post_tag, :label1 => "Select Users", :id1=>"left_x"+p.id.to_s, :id2=> "top_y"+ p.id.to_s, :id3=> "width"+p.id.to_s, :id4=> "height"+p.id.to_s, :hidden5=>"tag_photo_id", :hidden5_value=>p.id.to_s, :name1=>"left_x", :name2=>"top_y", :name3=> "width", :name4=>"height"}  %>

						<div id= "<%= 'image' + p.id.to_s %>">
							<div id= "<%= 'tag_rect' + p.id.to_s  %>"></div>
							<p><img src="/images/<%= p.file_name %>" alt="/images/<%= p.file_name %>" /></p>
							<% # loop through tags to display %> 
							<div id="<%= 'tag_parent' + p.id.to_s %>" class="tag_parent_hidden">
								<% if not p.tags.empty? %>
									<% p.tags.each do |t| %>
										<div id = "<%= 'tag' + t.id.to_s  %>" class="tags"></div>
										<script type= "text/javascript" src="/javascripts/tagger.js"></script> 
										<script type="text/javascript">
										//<![CDATA[
											new Tag ("<%= 'tag' + t.id.to_s %>", "<%= 'image' + p.id.to_s %>",  <%= t.left %>, <%= t.top %>, <%= t.width %>, <%= t.height %>, "<%= User.find(t.user_id).first_name + " " + User.find(t.user_id).last_name %>");
										//]]>
										</script>
									<% end %>
								<% end %>
								</div><!--tag+photo.id-->
							</div>
						</div>
					</div>







						<p class="tinytext">
							<%= p.date_time.getlocal.strftime("Posted on %m-%d-%Y at %I:%M %p") %>
						</p>
					</div>

					<div class="comments">
						<p><b>Comments:</b></p>
						<% if p.comments.empty? %>
							<div class="no-comment">No comments on this one yet!</div>
						<% else %>
							<% p.comments.each do |c| %>
								<div class="comment">
									<%= c.comment %> -- 
									<span class="tinytext">
										<%= link_to "#{c.user.first_name} #{c.user.last_name}", c.user_id.to_s %> 
											on <%= c.date_time.getlocal.strftime("%m-%d-%Y at %I:%M %p") %>
									</span>
								</div>
							<% end %>
						<% end %>

						<div class="btn green-btn">
							<a href="<%= "/comments/new/#{p.id}" %>" >New Comment</a>
						</div>
					</div>
				</div>
				<hr />

			<% end %>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
//<![CDATA[
   function startTags(form_number, parent_id, feedback_div, x, y, width, height) {
   	console.log(form_number)
       document.getElementById(form_number).style.visibility = "visible";
       new Tagger (parent_id, feedback_div, x, y, width, height); 
   }
//]]>
</script>